<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Gitter.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>52F0DA00282FC69C00251521</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52F0DA16282FC69E00251521</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52F0DA20282FC69F00251521</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
